body{
    background: Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),Linear-gradient(127deg, black, black 70.71%)

,Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    
}
#logo img{
height:60px
}

nav a{
  color: white !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top:40 px;
  padding-bottom: 40px;
  line-height: 40px;
  position: relative;
    padding: 10px 15px;
    text-decoration:none;
    font-size: 30px;
    ;
}
nav a:hover{
  color: red !important;
	
}

.myimg {
  margin:20px;

  display:inline-block;
  background-size: cover;
  overflow:hidden;


}
#img4{
  background-image: url('C:/Users/user/Desktop/gomycode/dev web/res/image4.png');
  height: 150px;
  width: 250px;
  }


  #img4:hover{
    background-color:black;
    opacity: 0.5;
}


  #img5{
    background-image: url('C:/Users/user/Desktop/gomycode/dev web/res/image5.png');
  height: 150px;
  width: 250px;
  }
  #img5:hover{
    background-color:black;
    opacity: 0.5;
}
  #img6{
    background-image: url('C:/Users/user/Desktop/gomycode/dev web/res/image6.png');
  height: 150px;
  width: 250px;
  }
  #img6:hover{
    background-color:black;
    opacity: 0.5;
}
  #img7{
    background-image: url('C:/Users/user/Desktop/gomycode/dev web/res/image7.png');
  height: 150px;
  width: 250px;
  }
  #img7:hover{
    background-color:black;
    opacity: 0.5;
}
  #img8{
    background-image: url('C:/Users/user/Desktop/gomycode/dev web/res/image8.png');
    height: 150px;
    width: 250px;
  }
  #img8:hover{
    background-color:black;
    opacity: 0.5;
}
  #img9{
    background-image: url('C:/Users/user/Desktop/gomycode/dev web/res/image9.png');
    height: 150px;
    width: 250px;
  }
  #img9:hover{
    background-color:black;
    opacity: 0.5;
}
  #img11{
    background-image: url('C:/Users/user/Desktop/gomycode/dev web/res/image1.png');
    height: 150px;
    width: 250px;
  }
  #img11:hover{
    background-color:black;
    opacity: 0.5;
}
  #img22{
    background-image: url('C:/Users/user/Desktop/gomycode/dev web/res/image2.png');
    height: 150px;
    width: 250px;
  }
  #img22:hover{
    background-color:black;
    opacity: 0.5;
}
  #img33{
    background-image: url('C:/Users/user/Desktop/gomycode/dev web/res/image3.png');
    height: 150px;
    width: 250px;
  }
  #img33:hover{
    background-color:black;
    opacity: 0.5;
}
#img1{
background-image: url('https://www.disruptunisia.com/couverture/5cd9f73e0a79c.png') ;

height:700px;
background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
 
}
  #img2{
background-image: url('https://pbs.twimg.com/media/D5FucxVUYAAVJ3I.png');
height:900px;
background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
} 
#img3{
    background-image: url('https://cdn-images-1.medium.com/max/1600/1*LzxEGZa4xDOFc7Ch67Iprg.jpeg');
height:1000px;
background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.navbar {
  clear:both;
  overflow:auto;
}

#logo img {
  float:left;
}

li {
  list-style-type: none;
}

ul {
  display: inline-flex;
}
.btnCourses1{
  margin-top:70px;
  display:none;
  
}

.btnCourses1Hover{
  display:inline !important;
  opacity: 1 !important;
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}